@use "../abstracts" as a;
@forward "../abstracts/placeholders";

.top {
  background: url("../../../layered-waves-haikei.svg") no-repeat center;

  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem;
  h1 {
    @include a.text-style-paragraph-lg;
    span {
      color: var(--dk);
    }
  }
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 1fr;
  overflow: hidden;
  margin: 4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 3rem;
  @include a.centerwidth;
  height: 80rem;
  width: min(100% - 4rem, 120rem);
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .main-container {
    overflow: hidden;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
  }
}
